@use './variables' as *;

body {
	background-color: var(--background);
	color: var(--text-primary);
	padding: 1rem;
	letter-spacing: 2px;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__toggle {
		display: none;

		& + div {
			width: 96px;
			height: 48px;
			border-radius: 24px;
			background-color: #e3000e;
			transition-duration: 0.3s;
			transition-property: background-color;
			cursor: pointer;
		}

		&:checked + div {
			background-color: #57bb00;
		}

		& + div > div {
			float: left;
			width: 46px;
			height: 46px;
			margin-top: 1px;
			margin-left: 1px;
			border-radius: 23px;
			background-color: white;
			transition-timing-function: ease;
			transition-duration: 0.3s;
			transition-property: transform;
			pointer-events: none;
			z-index: 1000;
		}

		&:checked + div > div {
			transform: translateX(48px);
		}
	}

	&__moon {
		position: relative;
		top: 8px;
		left: 8px;
		font-size: 2rem;
		color: var(--background);
	}

	&__sun {
		position: relative;
		top: -26px;
		left: -36px;
		font-size: 2rem;
		z-index: 1;
	}
}

.container {
	height: 96vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem 0;
}

.screen {
	text-align: right;
	padding: 1rem;
	font-size: 1.2rem;

	&__sum {
		margin: 0.6rem 0.2rem;
	}
}

.calculator {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	border-radius: 20px;
	padding: 1rem;
	gap: 0.6rem;

	background-color: var(--background-light);

	&__button {
		width: 75px;
		height: 75px;
		gap: 1rem;
		border-radius: 20px;
		background-color: var(--button-background);

		display: flex;
		justify-content: center;
		align-items: center;
		transition: filter ease-in-out 250ms;

		&:hover {
			filter: brightness(120%);
		}

		&--red {
			color: var(--buttons-primary);
		}

		&--green {
			color: var(--buttons-secondary);
		}

		&--scientific {
			display: none;
		}
	}
}

.raised-inset {
	box-shadow: 6px 6px 14px 0 rgba(127, 170, 55, 0.5),
		-7px -7px 12px 0 rgba(220, 235, 194, 0.4);
}
.raised-inset:hover {
	box-shadow: 6px 6px 14px 0 rgba(127, 170, 55, 0.5) inset,
		-7px -7px 12px 0 rgba(220, 235, 194, 0.4) inset;
	cursor: pointer;
}

@media screen and (min-width: $tablet-breakpoint) {
	.calculator {
		grid-template-columns: repeat(10, 1fr);
		gap: 1rem;

		&__button {
			width: 85px;
			height: 85px;

			&--scientific {
				display: inherit;
			}
		}
	}
}
