// Global Colors
$buttons-red: #ec7777;
$buttons-green: #26f0cb;

// Dark Mode Colors
$background-dark-mode: #22252d;
$background-dark-mode-light: #292d36;
$button-background-dark-mode: #272b33;

// Light Mode Colors
$background-light-mode: #e1e1e1;
$background-light-mode-light: #f2f2f2;
$button-background-light-mode: #f7f7f7;

// Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;
