// Global Colors

.dark-mode {
	--background: #22252d;
	--background-light: #292d36;
	--button-background: #272b33;
	--buttons-primary: #ec7777;
	--buttons-secondary: #26f0cb;
	--text-primary: white;
}

.light-mode {
	--background: #e9dac1;
	--background-light: #f7ecde;
	--button-background: #d2cbcb;
	--buttons-primary: #983a3a;
	--buttons-secondary: #158a75;
	--text-primary: black;
}

// Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;
